.services {
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  height: 90vh;
  margin-top: 8rem;
  margin-bottom: 10rem;
}
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
}
.awesome > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2.5rem;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 2.5rem;
}
.awesome > :nth-child(3) {
  color: var(--black);
  margin-bottom: 2rem;
}
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

@media screen and (max-width: 480px) {
  .services {
    flex-direction: column;
    padding: 7rem 0rem 0rem 0rem;
    margin-bottom: 42rem;
    margin-top: 6rem;
  }

  .awesome > :nth-child(1) {
    font-size: 2rem;
  }
  .awesome > :nth-child(2) {
    font-size: 2rem;
  }
  .awesome > :nth-child(3) {
    font-size: 0.8rem;
  }

  .cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    margin-top: -11rem;
  }
  .cards>*{
    position: static;
  }
}
