.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.n-left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.n-left .n-name {
  font-weight: bold;
  font-size: 1.3rem;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.n-list > ul :hover {
  /* cursor: pointer; */
  color: var(--orange);
}

@media screen and (max-width: 480px) {
  .n-right {
    display: none;
  }
  .n-left {
    gap: 1rem;
  }
}
